*{
  padding: 0px;
  margin: 0px;
  font-family: 'Courier New', monospace;
}

body{
  height: 100vh;
  width: 100vw;
  background-image: url("./img/secure.png");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  padding: 64px 64px 0px 64px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
}

#fields {
  width: 750px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 16px;
}

input {
  height: 64px;
  padding-left: 16px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 24px;
}

#login_button {
  grid-row-end: span 2;
  cursor: pointer;
}

#login_button img {
  width: 100%;
  filter: invert(1);
}

#login_button img:hover {
  filter: invert(0);
}

#response {
  width: 750px;
  padding: 64px 0px;
  font-size: 2em;
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
}

.error {
  color: #F00;
}

.success {
  color: #0A0;
}